/saved
.DS_Store
token

models/eurosat/AdamW/model

models/eurosat/avalanche_SGD/model

models/eurosat/distillation/small
models/eurosat/distillation/student
models/eurosat/distillation/teacher

models/eurosat/pruning/model
models/eurosat/pruning/pruned_model

models/eurosat/quantization/model
models/eurosat/quantization/quantized_model


models/MYC/Baseline/model
models/MYC/distillation/model
models/MYC/pruning/model
models/MYC/pruning/pruned_model


models/soil-estimation/baseline/model

models/soil-estimation/distillation/small_model
models/soil-estimation/distillation/student_model
models/soil-estimation/distillation/teacher_model

models/soil-estimation/pruning/model
models/soil-estimation/purning/pruned_model

models/soil-estimation/quantization/model


/models/eurosat/AdamW/eurosat_trainer_20240407_221246
